.container-style {
    margin-top: 1% !important;
    margin-bottom: 5% !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px 50px 40px 40px;
    padding: 0;
    min-height: 90vh;
    -webkit-box-shadow: 3px 3px 40px 15px #ccc;  /*  Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 40px 15px #ccc;  /*  Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 40px 15px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

