.CircularProgressbar-text {
  font-family: "Lora", "Times New Roman", Times, serif;
}
.dashboard-card {
  border-radius: 30px !important;
  box-shadow: none !important;
  -webkit-box-shadow: 0px 0px 20px 1px #ccc !important; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 20px 1px #ccc !important; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 20px 1px #ccc !important; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  height: 560px;
}
.dashboard-card2 {
  border-radius: 0px 30px 30px 0px !important;
  padding-left: 10px !important;
  -webkit-box-shadow: 0px 0px 20px 1px #ccc !important; /*  Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 20px 1px #ccc !important; /*  Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 20px 1px #ccc !important; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin-left: -20px !important;
  z-index: 0;
  height: 560px;
}
.picker {
  font-size: 12px !important;
  font-weight: 600;
  color: #113031 !important;
  padding-left: 2em;
  text-decoration: none !important;
  line-height: 0;
}
input#startTime {
  height: 1rem !important;
}
input#stopTime {
  height: 1rem !important;
}
input#startDay {
  height: 1rem !important;
}
input#stopDay {
  height: 1rem !important;
}
.picker__date-display {
  background-color: #113031 !important;
}
.picker__weekday-display {
  background-color: #113031 !important;
}
.picker__date-display {
  background-color: #113031 !important;
}
.datepicker-date-display {
  background-color: #113031 !important;
}
.datepicker-calendar {
  border-radius: 30px !important;
}
.datepicker-day-button:focus {
  background-color: #00ff45 !important;
  border-radius: 0;
}
.timepicker-digital-display {
  background-color: #113031 !important;
}
.confirmation-btns .datepicker-cancel {
  border-radius: 999px !important;
  font-size: 14px !important;
  font-weight: 600;
  color: #113031 !important;
  background-color: #00ff45 !important;
  border: none !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0) !important;
  transition: 0.5s background-color;
}
.confirmation-btns .datepicker-cancel:hover {
  background-color: #ffff00 !important;
}
.confirmation-btns .datepicker-done {
  border-radius: 999px !important;
  font-size: 14px !important;
  font-weight: 600;
  color: #113031 !important;
  background-color: #00ff45 !important;
  border: none !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0) !important;
  transition: 0.5s background-color;
  margin-left: 5px;
}
.confirmation-btns .datepicker-done:hover {
  background-color: #ffff00 !important;
}
.confirmation-btns .timepicker-close {
  border-radius: 999px !important;
  font-size: 14px !important;
  font-weight: 600;
  color: #113031 !important;
  background-color: #00ff45 !important;
  border: none !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0) !important;
  transition: 0.5s background-color;
  margin-left: 5px;
}
.confirmation-btns .timepicker-close:hover {
  background-color: #ffff00 !important;
}
.timepicker-canvas-bearing {
  fill: #00ff45 !important;
}
.timepicker-canvas-bg {
  fill: #00ff45 !important;
}
.timepicker-canvas line {
  fill: #00ff45 !important;
  stroke: #00ff45 !important;
}
.datepicker-container.modal-content {
  border-radius: 30px !important;
}
.chart-side {
  border-radius: 30px 0 30px 30px !important;
  background-color: #113031 !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  color: white;
  z-index: 1;
  position: relative;
  height: 560px;
}
.chart-titles {
  font-size: 10px;
  padding: 10px 0 10px 0;
}
.poppins-title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.dashboard-card-weather {
  border-radius: 30px !important;
  box-shadow: none !important;
  -webkit-box-shadow: 0px 0px 20px 1px #ccc !important; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 20px 1px #ccc !important; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 20px 1px #ccc !important; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin-top: -10px !important;
  margin-bottom: 40px !important;
}
.is-selected {
  background-color: #00ff45 !important;
  border-radius: 0 !important;
  color: #113031 !important;
}