.navbar-style {
    background-color: #113031;
    border-radius: 40px 50px 50px 0;
    height: 100px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0);
    padding: 20px;
    padding-left: 30px;
}
nav ul a {
    padding: 0 20px 0 20px !important;
    opacity: 0.75;
    background-color: #113031 !important;
}
nav ul a:hover {
    opacity: 1;
    color: #00ff45 !important;
    background-color: #113031;
}
nav ul a:active {
    opacity: 1;
    color: #00ff45 !important;
}
.sidenav li>a {
    color: #fff !important;
}