.toggle-weather {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #113031;
    line-height: 2;
    background-color: #00ff45;
    padding: 9px 14px 9px 14px;
    border-radius: 30px;
}
.weather-td {
    width: 33%;
}
tr {
    border-bottom: 1px solid #00ff45 !important;
}
.weather-icon {
    height: 35px;
    width: 35px;
    margin: -10px;
}